.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  isolation: isolate;
}

.maxWidthWrapper {
  min-height: 512px;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  left: 0;
  top: 270px;
  width: 50%;
  min-height: 500px;
}

.controlColumn {
  display: flex;
  gap: 15px;
  overflow: auto;
  position: fixed;
  bottom: 20%;
  z-index: 3;
  width: 100%;
  padding-right: 50px;
}

@media screen and (min-width: 750px) {
  .header {
    max-width: 65%;
  }
  .characterWrapper {
    position: fixed;
    top: 150px;
    left: auto;
    right: 0;
    width: 35%;
    min-height: 500px;
  }

  .controlColumn {
    display: block;
    position: static;
    max-width: 50%;
    white-space: normal;
    overflow: visible;
    z-index: initial;
    width: auto;
    padding-right: 0;
  }
}
